<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
	<title>Trasporto urbano</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body>
	<div class="container">
		<div class="header clearfix">
			<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
			<nav class="nav nav-pills pull-right">
				<div class="container">
					<a type="button"
						class="btn btn-link navbar-btn navbar-right" href="/user/registration">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Sign up
					</a>
					<a type="button"
						class="btn btn-default navbar-btn navbar-right" href="/login">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Sign in
					</a>
					<a type="button"
						class="btn btn-default navbar-btn navbar-right" href="/home">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						Home
					</a>
				</div>
			</nav>
		</div>
		<div class="row"></div>
		<div class="jumbotron">
			<h1 class="text-center"	>Piattaforma Social Trasporto Torino</h1>
			<p></p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a type="button" class="btn btn-primary	btn-lg btn-block"
					href="/home"> <span class="glyphicon glyphicon-comment"
					aria-hidden="true"></span> Bus / Metro
				</a>
			</div>
			<div class="col-md-4">
				<a type="button" class="btn btn-info	btn-lg btn-block"
					href="/home"> <span class="glyphicon glyphicon-comment"
					aria-hidden="true"></span> Traffico
				</a>
			</div>
			<div class="col-md-4">
				<a type="button" class="btn btn-default	btn-lg btn-block"
					href="/home"> <span class="glyphicon glyphicon-comment"
					aria-hidden="true"></span> Giro in Bici
				</a>
			</div>
		</div>
	</div>

</body>
</html>