<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Profile</title>
	
	<!-- 	Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"></link>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

</head>
<body>
	<div class="container">
	
		<div class="header clearfix" sec:authorize="isAuthenticated()">
			<nav class="nav nav-pills pull-right">
				<div class="container">
					<a class="navbar-brand" sec:authentication="name">Welcome, </a>
			        <form th:action="@{/logout}" method="post" class="control-group">
			            <input type="submit" value="Sign Out" class="btn btn-warning navbar-btn navbar-right"/>
			            <a type="button"
							class="btn btn-primary navbar-btn navbar-right" href="/">
							<span aria-hidden="true" class="glyphicon glyphicon-home"></span>
							Home
						</a>
			        </form>
				</div>
			</nav>
		</div>
		
		<div class="jumbotron">
			<h1 class="text-center">Profile</h1>
		</div>
		<p></p>
		
		<form class="form-horizontal" th:action="@{/user/profile/modifica}" th:object="${user}"
			method="POST" enctype="utf8">
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Nickname</label>
				<div class="col-md-6">
					<p th:text="*{nickName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<p th:text="*{email}"></p>
					<input type="hidden" th:field="*{email}" />	
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Genere</label>
				<div class="col-sm-10">
					<p th:text="*{gender}"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Eta</label>
				<div class="col-sm-10">
					<p th:text="*{years}"></p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Livello di istruzione</label>
				<div class="col-sm-10">
					<p th:text="*{instructionLevel}"></p>
				</div>
			</div>
			
			<div id="siNoAuto1" style="display: ; background: #f5f5f0; padding: 10px">
				<div class="form-group">
					<label class="col-sm-2 control-label">Auto - Anno di immatriculazione</label>
					<div class="col-sm-10">
						<p th:text="*{auto.registrationYear}">No</p>
<!-- 						<input type="hidden" min="1930" max="2017" th:field="*{auto.registrationYear}"></input> -->
					</div>
				</div>
			</div>
			
			<div id="siNoAuto2" style="display: ; background: #f5f5f0; padding: 10px">
				<div class="form-group">
					<label class="col-sm-2 control-label">Auto - Carburante</label>
					<div class="col-sm-10">
						<p th:text="*{auto.typeFuel}">No</p>
					</div>
				</div>
			</div>
						
			<div id="siNoSharing" style="display: ; background: #f5f5f0; padding: 10px">
				<div class="form-group">
					<label class="col-sm-2 control-label">Car Sharing - Fornitore</label>
					<p th:text="*{carSharing}"></p>
				</div>
			</div>
			
			<div id="siNoBici" style="display: ; background: #f5f5f0; padding: 10px">
				<div class="form-group">
					<label class="col-sm-2 control-label">Bici - Mezzo</label>
					<p th:text="*{bike}"></p>
				</div>
			</div>

			<div id="siNoTicket" style="display: ; background: #f5f5f0; padding: 10px">
				<div class="form-group">
					<label class="col-sm-2 control-label">Trasporto Pubblico - Titolo di viaggio usato di frequente</label>
					<p th:text="*{publicTransport}"></p>
				</div>
			</div>

			<div class="alert alert-warning" role="alert">
				<h2>Modifica</h2>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Nickname</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{nickName}" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{password}" required="required"/>			
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Confermare password</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{matchingPassword}" required="required"/>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" value="Modifica profile" class="btn btn-default"/>
				</div>
			</div>
		</form>
	</div>
</body>
</html>