<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Registration</title>
	
	<!-- 	Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div class="container">
	
		<div class="header clearfix">
			<nav class="nav nav-pills pull-right">
				<div class="container">
					<a type="button"
						class="btn btn-default navbar-btn navbar-right" href="/home">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						Home
					</a>
				</div>
			</nav>
		</div>
		
		<div class="jumbotron">
			<h1 class="text-center">Registration</h1>
		</div>
		<p></p>
		<form class="form-horizontal centered" th:action="@{/user/registration}" th:object="${user}"
			method="POST" enctype="utf8">
			<div class="form-group">
				<label class="col-sm-2 control-label">Nickname</label>
				<div class="col-sm-10">
					<input th:field="*{nickName}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" th:field="*{email}" />	
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{password}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Confirm password</label>
				<div class="col-sm-10">
					<input type="password" th:field="*{matchingPassword}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" value="Sign up" class="btn btn-default"/>
				</div>
			</div>
<!-- 			<button type="submit">submit</button> -->
		</form>

<!-- 		<a th:href="@{/login.html}">login</a> -->
	</div>
</body>
</html>